.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px;
  flex-wrap: wrap;
  align-items: flex-start;
  background: #fff;
}
.footer-logo {
  width: 250px;
}
.logo-text {
  color: #233348;
  font-size: 32px;
  font-weight: 800;
}
.logo-desc {
  margin-top: 10px;
  color: #5a5a5a;
  line-height: 22px;
}
.footer-links-row {
  display: flex;
  gap: 60px;
}
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-col h3 {
  font-size: 18px;
  font-weight: 700;
}
.footer-link {
  color: #5a5a5a;
  cursor: pointer;
  transition: 0.2s;
}
.footer-link:hover {
  color: #000;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.social-icons {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}
.social-icons div {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 5px #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-title {
  margin: 10px 0;
  font-weight: 600;
}
.app-buttons {
  display: flex;
  gap: 10px;
}

.app-img {
  width: 120px;
}

.footer-copy {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 30px 25px;
    text-align: center;
  }
  .footer-logo {
    margin: 0 auto;
  }

  .footer-links-row {
    display: flex;
    justify-content: center;
    gap: 35px;
  }

  .footer-col {
    align-items: center;
  }

  .footer-right {
    align-items: center;
    margin: 0 auto;
  }

  .social-icons {
    justify-content: center;
  }

  .app-buttons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .app-img {
    width: 100px;
  }
}
