.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px;
  flex-wrap: wrap;
  background: #fff;
  position: relative;
}

.footer-logo {
  width: 220px;
}

.logo-text {
  color: #233348;
  font-size: 32px;
  font-weight: 800;
}

.logo-desc {
  margin-top: 10px;
  color: #5a5a5a;
  line-height: 22px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
}

.footer-col h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.footer-link {
  cursor: pointer;
  color: #5a5a5a;
  transition: 0.2s;
}

.footer-link:hover {
  color: #000;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.social-icons div {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 5px #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  margin: 10px 0;
  font-weight: 600;
}

.app-buttons {
  display: flex;
  gap: 10px;
}

.app-img {
  width: 120px;
}

.footer-copy {
  text-align: center;
  width: 100%;
  margin-top: 40px;
  font-size: 14px;
  color: #444;
}
